%single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.query-popover {
  @extend %single-line;
}

.link {
  cursor: pointer;
}

.info-link {
  color: grey;

  :hover {
    color: dimgrey;
  }
}

.query-name {
  @extend %single-line;
  max-width: 10em;
}

.first-input:disabled {
  visibility: hidden;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.node {
  animation: fadein 500ms;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-caption {
  color: #fff;
  background-color: #000b;
}

.code {
  background-color: #eff0f1;
}

.cell {
  flex: 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
