<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="Query transcription factor to target data.">
    <title>ConnecTF</title>
</head>
<body>
<div id="app"></div>
<noscript>
    <div class="jumbotron">
        <h1>ConnecTF</h1>
        <p>Your browser does not support Javascript.</p>
        <hr>
        <p>
            Frankly, there is not much we can do on our end to fix this problem. So sit back and enjoy the view. The
            time you wanted to spend working on ConnecTF can now be spent enjoying your morning coffee. ☕️
        </p>
    </div>
</noscript>
<% if (RECAPTCHA_SITE_KEY && RECAPTCHA !== "false") { %>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= RECAPTCHA_SITE_KEY %>"></script>
<% } %>
</body>
</html>
